#BackgroundScene{
	width: 1150px;    
	height: 500px;
	margin: 0 auto;
    padding: 0;
    background-image: url('./images/clubbackground.jpg');
    background-repeat: no-repeat;
    background-size: contain;
	position: absolute;
}

#SDownArrow{
    margin: 0;
    padding: 0;
	background-image: url('./images/arrdown.png');
	/* background-image: url('/DDR-Project1/images/arrdown.png'); */
    background-size: contain;
	position: absolute;
	top: 390px;
	left: 306px;
    height: 70px;
    width: 70px;
    opacity: 80%;
}

#SUpArrow{
    width: 70px;
	height: 70px;
	top: 390px;
    left: 499px;
    margin: 0;
    padding: 0;
	background-image: url('./images/arrup.png');
    background-size: contain;
	position: absolute;
    opacity: 80%;
}

#SLeftArrow{
    width: 70px;
	height: 70px;
	top: 390px;
    left: 123px;
    margin: 0;
    padding: 0;
	background-image: url('./images/arrleft.png');
    background-size: contain;
    position: absolute;
    opacity: 80%;
}

#SRightArrow{
    width: 70px;
	height: 70px;
	top: 390px;
    left: 672px;
    margin: 0;
    padding: 0;
	background-image: url('./images/arrright.png');
    background-size: contain;
    position: absolute;
    opacity: 80%;
}

.btnStyle {
	position: absolute;
	border-radius: 4px;
	border: medium solid #000000;
	background-color:rgb(92, 250, 246);
	font-family: "Arial", Impact, Charcoal, sans-serif;
	font-weight: bold;
	font-size:20px;
    color: #ffffff;
	padding: 5px 30px;
	margin: 8px 70px;
}

#StartBtn{
	left: 270px;
	position: absolute;
    top: 215px;
	/* text-align: center; */
	text-shadow: 2px 2px 4px black;
}

.Status {
	text-align: center;
	text-shadow: 2px 2px 4px black;
	font-size:17px;
	color: #ffffff;
	font-family: "Arial", Impact, Charcoal, sans-serif;
	left: 290px;
	position: absolute;
    top: 270px;
}

/* #StopBtn{
    position: absolute;
    left: -50px;
    border-radius: 2px;
	border: medium solid #000000;
	background-color:rgb(92, 250, 246);
	font-family: "Arial", Impact, Charcoal, sans-serif;
	font-weight: bold;
	font-size:17px;
    color: #ffffff;
    text-shadow: 2px 2px 4px black;
	padding: 2.5px 15px;
	margin:8px 70px;
} */

#DownArrow{
    margin: 0;
    padding: 0;
	background-image: url('./images/downinverse.png');
    background-size: contain;
    position: absolute;
    opacity: 80%;
}

#UpArrow{
    margin: 0;
    padding: 0;
	background-image: url('./images/upinverse.png');
    background-size: contain;
    position: absolute;
    opacity: 80%;
}

#LeftArrow{
    margin: 0;
    padding: 0;
	background-image: url('./images/leftinverse.png');
    background-size: contain;
    position: absolute;
    opacity: 80%;
}

#RightArrow{
    margin: 0;
    padding: 0;
	background-image: url('./images/rightinverse.png');
    background-size: contain;
    position: absolute;
    opacity: 80%;
}

#dancePoints {
	font-family: "Arial", Impact, Charcoal, sans-serif;
	font-weight: bold;
	font-size:20px;
	padding: 10px;
	color: #ffffff;
    text-shadow: 2px 2px 4px black;
}